@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500&family=Lato:wght@300;400&family=Montserrat&display=swap");
* {
  font-family: "Afacad", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

/* App */
.App {
  display: flex;
  flex-direction: row;
}

/* Basic Info */
.input-container {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.input-container > input {
  padding: 5px;
}

.input-container > textarea {
  padding: 5px;
  height: 350px;
  resize: none;
}
