@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500&family=Lato:wght@300;400&family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Afacad", "Lato", sans-serif;
}

/* App */
.App {
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Navbar */
.navbar {
  height: 150px;
  background-color: #222a33;
}

.navbar nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.buttons {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#print-btn,
#load-example-btn {
  padding: 10px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #313c4e;
  border-radius: 10px;
  font-size: 48px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

#print-btn:hover,
#load-example-btn:hover {
  scale: 1.1;
}

/* General */
.general-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.input-container {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.input-container > input {
  padding: 5px;
}

.input-container > textarea {
  padding: 5px;
  height: 350px;
  resize: none;
}

/* Education */
.submitted-education-data {
  display: flex;
  flex-direction: column;
}

.submitted-education-item {
  padding: 15px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #313c4e;
  border-radius: 10px;
  color: white;
  font-size: 24px;
}

#delete-education-item-btn {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#delete-education-item-btn:hover {
  color: red;
}

/* Preview */
.preview-container {
  height: 100%;
  width: 800px;
  border: 1px solid black;
}

.cv-container {
  min-height: 842px;
}

/* General Preview */
.general-preview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.basic-info {
  min-height: 100px;

  padding: 15px;
  color: #ffffff;
  background-color: #313c4e;
}

.contact-info {
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222a33;
  color: white;
  font-size: 12px;
}

.contact-item {
  width: 25%;
  text-align: center;
}

.contact-item i {
  margin-right: 5px;
}

/* Education Preview */
.education-preview-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.education-preview-item {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.education-preview-item-info {
  display: flex;
  flex-direction: column;
}
