@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500&family=Lato:wght@300;400&family=Montserrat&display=swap");
* {
  font-family: "Afacad", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

/* App */
.App {
  display: flex;
  flex-direction: row;
}

/* General */
.input-container {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.input-container > input {
  padding: 5px;
}

.input-container > textarea {
  padding: 5px;
  height: 350px;
  resize: none;
}

/* Preview */
.preview-container {
  width: 800px;
  border: 1px solid black;
}
.general-info-container {
  display: flex;
  flex-direction: column;
}

/* General Data */
.general-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.basic-info {
  height: 150px;
  padding: 15px;
  color: #ffffff;
  background-color: #313c4e;
}

.contact-info {
  display: flex;
  padding: 15px;

  flex-direction: row;
  justify-content: space-between;
  background-color: #222a33;
  color: white;
  font-size: 12px;
}

.contact-item {
  width: 25%;
  text-align: center;
}

.contact-item i {
  margin-right: 5px;
}

.description {
  padding: 15px;
}
